*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
p {
  font-family: Avenir, sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: Avenir;
  src: url('./assets/fonts/AvenirLTStd-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('./assets/fonts/AvenirLTStd-MediumOblique.otf') format('otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Avenir;
  src: url('./assets/fonts/AvenirLTStd-Book.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('./assets/fonts/AvenirLTStd-BookOblique.otf') format('otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Avenir;
  src: url('./assets/fonts/AvenirLTStd-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('./assets/fonts/AvenirLTStd-LightOblique.otf') format('otf');
  font-weight: 300;
  font-style: italic;
}